<h1>Accueil</h1>

<p>Exemple de route dynamique (paramètre GET) avec vue JES (ici étage 12):</p>
<a href="/etage/12/chambre">/etage/12/chambre</a>

<p>Passage de tablea à la vue, + boucle dans template EJS (ici 3 fois):</p>
<a href="/compter/3">/compter/3</a>

